$pc: 1280px;
$tablet: 768px;
$mobile: 440px;

$color-trueblack: #000000;
$color-deepblack: #050505;
$color-black: #111111;
$color-gray: #555555;
$color-lightgray: #cecece;
$color-darkgray: #333333;
$color-truered: #ff0000;
$color-red: #aa0000;
$color-trueyellow: #ffd32a;
$color-yellow: #ffd32a;
$color-truegreen: #0be881;
$color-green: #05c46b;
$color-truewhite: #ffffff;
$color-white: #fafafa;
